 .navbar{
    background:#ffffff;
    font-size:20px;
    border-color: transparent;
    font-family: 'Merriweather Sans', sans-serif;
    height:80px;
  }
  .jumbotron{
      background:linear-gradient(
      rgba(255, 218, 60,0.65), 
      rgba(255,218, 60,0.65)
    ),
    url("https://image.freepik.com/free-vector/statistical-data-abstract-on-paper-and-tablet_3446-313.jpg") no-repeat right center;
    height:355px;
    color:#000000;
    padding:30px;
    font-family: 'Ubuntu',sans-serif;
      }
   #vision{
    background:#ffffff;
    font-family:'Merriweather', sans-serif;

   }
  #goals{
    font-family: 'Lato', sans-serif;
    background:#f7b658;
   }
   #report{
    font-family: 'Ubuntu',sans-serif;
   }
   #services{
    background:#ffda3c;
    font-family:'Merriweather', sans-serif;
   }
   #bookdemo{
    background:#ffffff;
    font-family: 'Lato', sans-serif;
   }
   #partners{
    font-family: 'Merriweather',sans-serif;
    background:#FFCC80;
   }
   #news{
    font-family: 'Lato', sans-serif;
   }
   #connect{
    font-family: 'Ubuntu',sans-serif;
    background:#f7b658;
   }
   #copyright{
    background:#f3a03a;
    font-family: 'Lato', sans-serif;
   }
   div{
  padding:0px;
  margin:0px;
}
#social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 .social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
